## Handing the Excel File using RAG

In [44]:
import pandas as pd
import seaborn as sns
import google.generativeai as genai
import os

# from langchain_core.documents import Document

In [45]:
data = sns.load_dataset('tips')

In [46]:
data.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [47]:
# LLM Model
gemini_key = os.getenv('GEMINI-API-KEY-3')
genai.configure(api_key=gemini_key)
model = genai.GenerativeModel('gemini-2.5-flash-lite')

In [48]:
# # Extract rows from excel and put them serially in text
# corpus = []
# for idx,row in data.iterrows():
#     row_text = '|'.join(f"{col}:{row[col]}" for col in data.columns if pd.notna(row[col]))
#     doc = Document(row_text,metadata={'table_name':'Tips','row_index':idx})
#     corpus.append(doc)

In [49]:
# Extract rows from excel and put them serially in text
context = ''
for idx,row in data.iterrows():
    row_text = '|'.join(f"Index:{idx}:{row[col]}" for col in data.columns if pd.notna(row[col]))

    context = context+ row_text + '\n'

In [50]:
# context = '\n'.join([d.page_content for d in corpus])

In [51]:
# print(context)

In [52]:
row_text

'Index:243:18.78|Index:243:3.0|Index:243:Female|Index:243:No|Index:243:Thur|Index:243:Dinner|Index:243:2'

In [53]:
data.tail(1)

     total_bill  tip     sex smoker   day    time  size
243       18.78  3.0  Female     No  Thur  Dinner     2

In [ ]:
prompt = 'What is the maximum tips paid by male and female'

augmented_prompt = f'''
        <Role> You are a helpful assistant using RAG.
        <Goal> Answer the question asked by the user. Here are the questions {prompt}.
        <Context> Here are the documents retrieve from the Vector database to support the answer which you have to generate {context}
        '''

In [55]:
response = model.generate_content(augmented_prompt)
print(response.text)

The maximum tip paid by males is 10.0, and the maximum tip paid by females is 6.73.